<!DOCTYPE html> 
<html lang="en"> 	
<head> 
    <!-- JAVASCRIPT AND CSS CODE ADAPTED FROM https://www.w3schools.com/howto/howto_js_collapsible.asp -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active, .collapsible:hover {
            background-color: #555;
        }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
        table, th, td {
            padding: 5px;
        }
        table {
            border-spacing: 15px;
        }
    </style>

    <title>Dashboard</title>
</head>

<body>
    <h3>Candidate and Reviewers Dashboard</h3>
    <button type="button" class="collapsible">Candidates</button>
        <div class="content">
            <br/><br/>
            <button type="button" class="collapsible">Candidate Data</button>
                <div class="content">
                    <table style="width:100%">
                        <tr>
                            <th>Name</th>
                            <th>GPA</th> 
                            <th>GRE</th>
                            <th>Years of Work Experience</th>
                            <th>Skills</th>

                        </tr>

                        {% for person in candidate_data %}
                        <tr>
                            {% for col in person %}
                            <td>{{ col }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    
                    </table> 
            </div>

            <br/><br/>
            <button type="button" class="collapsible">Candidate Statistics</button>
                <div class="content">
                    <a class="btn btn-default" onclick="location.href='https://drive.google.com/file/d/1AAQ7bKi2mRiHq-T1jep86ZKzR4YgbDtf/view?usp=sharing'">Click for Graph</a>
                    <!-- <img  src="studentgraph.png" width="400" height="400" ></img>
                    <!-- <img src="studentgraph.png" alt="Student Graph" style="width:128px;height:128px;"></img> -->
                    <table style="width:100%">
                        <tr>
                            <th>Average GPA</th> 
                            <th>Average GRE</th>
                            <th>Average Years of Work Experience</th>
                        </tr>

                        <tr>
                            <td>{{ average_gpa }}</td>
                            <td>{{ average_gre }}</td>
                            <td>{{ average_work_experience }}</td>
                        </tr>
                    
                    </table> 
                    <br/>
                    <h4>Three Most Common Skills</h4>
                    <table style="width:100%">
                        <tr>
                            <th>Skill</th> 
                            <th>Occurrences</th>
                        </tr>

                        {% for skill in most_common_skills %}
                        <tr>
                            {% for col in skill %}
                            <td>{{ col }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    
                    </table> 
                </div>
		</div>
    <br/><br/>
    <button type="button" class="collapsible">Reviewers</button>
    <div class="content">
        <br/><br/>
        <button type="button" class="collapsible">Reviewer Data</button>
            <div class="content">
                <table style="width:100%">
                    <tr>
                        <th>Reviewer</th>
                        <th>Average Technical Score</th>
                        <th>Average Essay Score</th>
                        <th>Average Interview Score</th>

                    </tr>
                    {% for reviewer in reviewer_data %}
                    <tr>
                        {% for col in reviewer %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                
                </table> 
        </div>

        <br/><br/>
        <button type="button" class="collapsible">Reviewer Statistics</button>
            <div class="content">
                <table style="width:100%">
                    <tr>
                        <th>Average Technical Score given</th> 
                        <th>Average Essay Score given</th>
                        <th>Average interview Score given</th>
                    </tr>

                    <tr>
                        <td>{{ average_tech_score }}</td>
                        <td>{{ average_essay_score }}</td>
                        <td>{{ average_interview_score }}</td>
                    </tr>
                
                </table> 
            </div>
    </div>
      
    <!-- JAVASCRIPT AND CSS CODE ADAPTED FROM https://www.w3schools.com/howto/howto_js_collapsible.asp -->
    <!-- DO NOT EDIT -->
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
            });
        }
        </script>

</body>
</html>